body{
	background-image:url('fon.jpg');
}


.table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 13px;
    background: white;
    width: 60%;
    border-collapse: collapse;
    top: 45px;
    margin-left: 20px;
    text-align: center;
    overflow-y:scroll;
    height:600px;
    display:block;
    position: absolute
}
th {
    position: sticky;
    top: 0;
    background: white;
    font-weight: normal;
    color: #039;
    border-bottom: 4px solid #6678b1;
    padding: 10px 36px;
}
td {
    border-bottom: 1px solid #ccc;
    color: #669;
    padding: 9px 8px;
    transition: .3s linear;
}
tr:hover td {
    color: #6699ff;
}
caption {
    font-size: 20px;
    color: #039;
}


textarea {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 13px;
    background: white;
    width: 245px;
    height: 160px;
    resize: none;
    margin-top: 60px;
    margin-left: 1180px;
}


.date {
  background-color: white;
  color: black;
  border: 0;
  padding: 0;
  margin-left: 930px;
  position: absolute;
  top: 70px;
  width: 250px;
  height: 25px;
}


.data_car {
  background-color: white;
  color: black;
  border: 0;
  padding: 0;
  margin-left: 930px;
  position: absolute;
  top: 100px;
  width: 250px;
  height: 25px;
}


.btn-5 {
    width: 250px;
    height: 40px;
    top: 320px;
    left: 1180px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}
.btn-5 {
    background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
}
.btn-5 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.btn-5:before,
.btn-5:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: rgba(251,75,2,1);
    box-shadow:
    -7px -7px 20px 0px rgba(255,255,255,.9),
    -4px -4px 5px 0px rgba(255,255,255,.9),
    7px 7px 20px 0px rgba(0,0,0,.2),
    4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}
.btn-5:before{
    height: 0%;
    width: 2px;
}
.btn-5:after {
    width: 0%;
    height: 2px;
}
.btn-5:hover{
    color: rgba(251,75,2,1);
    background: transparent;
}
.btn-5:hover:before {
    height: 100%;
}
.btn-5:hover:after {
    width: 100%;
}
.btn-5 span:before,
.btn-5 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgba(251,75,2,1);
    box-shadow:
    -7px -7px 20px 0px rgba(255,255,255,.9),
    -4px -4px 5px 0px rgba(255,255,255,.9),
    7px 7px 20px 0px rgba(0,0,0,.2),
    4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}


.btn-7 {
    width: 250px;
    height: 40px;
    top: 450px;
    left: 1180px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}
.btn-7 {
    background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
}
.btn-7 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.btn-7:before,
.btn-7:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: rgba(251,75,2,1);
    box-shadow:
    -7px -7px 20px 0px rgba(255,255,255,.9),
    -4px -4px 5px 0px rgba(255,255,255,.9),
    7px 7px 20px 0px rgba(0,0,0,.2),
    4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}
.btn-7:before{
    height: 0%;
    width: 2px;
}
.btn-7:after {
    width: 0%;
    height: 2px;
}
.btn-7:hover{
    color: rgba(251,75,2,1);
    background: transparent;
}
.btn-7:hover:before {
    height: 100%;
}
.btn-7:hover:after {
    width: 100%;
}
.btn-7 span:before,
.btn-7 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgba(251,75,2,1);
    box-shadow:
    -7px -7px 20px 0px rgba(255,255,255,.9),
    -4px -4px 5px 0px rgba(255,255,255,.9),
    7px 7px 20px 0px rgba(0,0,0,.2),
    4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}

.btn-8 {
    width: 250px;
    height: 40px;
    top: 460px;
    left: 1180px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}
.btn-8 {
    background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
}
.btn-8 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.btn-8:before,
.btn-8:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: rgba(251,75,2,1);
    box-shadow:
    -7px -7px 20px 0px rgba(255,255,255,.9),
    -4px -4px 5px 0px rgba(255,255,255,.9),
    7px 7px 20px 0px rgba(0,0,0,.2),
    4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}
.btn-8:before{
    height: 0%;
    width: 2px;
}
.btn-8:after {
    width: 0%;
    height: 2px;
}
.btn-8:hover{
    color: rgba(251,75,2,1);
    background: transparent;
}
.btn-8:hover:before {
    height: 100%;
}
.btn-8:hover:after {
    width: 100%;
}
.btn-8 span:before,
.btn-8 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgba(251,75,2,1);
    box-shadow:
    -7px -7px 20px 0px rgba(255,255,255,.9),
    -4px -4px 5px 0px rgba(255,255,255,.9),
    7px 7px 20px 0px rgba(0,0,0,.2),
    4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}

